.w_12001{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style-type: none;
    text-decoration: none;
}

/*左侧样式*/
.g_left{
    position: absolute;
    width: 140px;

}
.g_wrap {
    width: 120px;

    margin-left: 10px;
    overflow: hidden;

}
.g_myhead {
    line-height: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}
.g_bottom{
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
}
.bot {
    border-bottom:none;
}
.g_arrow {
    color: gray ;
}
.g_st {
    line-height: 25px;
    color: gray;
}
.g_navtxt{
    font-size: 16px;
}
/*右侧样式*/
.g_right {
    width: auto;
    margin-left: 140px;

    height: 600px;

}
.g_myordernav{

    overflow: hidden;
    background: whitesmoke;
}
.g_nav{
    float: left;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
    margin-left: 90px;
}
.g_txt{
    background-image: url("../g_img/g_back.png") ;
    background-repeat: no-repeat;
    background-position:120px -21px ;
    height: 300px;

}
.g_maintxt{

    margin-top:90px;
    padding: 20px;

}
.g_mt1 {
    color: plum;
}
.txt2 {
    line-height: 30px;
}
.txt1 {
    font-size: 20px;
    font-weight: bold;
}
