li {
    list-style-type: none;
}
.w_12001{
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 10px;
    background-color: white;

}

#first {
    min-width: 1200px;
}
table{
    width: 1150px;
    overflow: hidden;
    margin: auto;
}
.g_myshop{
    width: 14%;

    text-align: center;
}
.g_myshop1 {
    text-align: left;
}

.g_myshop3 {
    text-align: right;
}
.g_myshop4 {
    color: orangered;
}
.g_myshop6{
    width: 50px;
    text-align: center;
}
.g_myshop7 {
    font-size: 28px;
    font-weight: 600;
    background: gainsboro ;
}
.g_myshop8 {
    font-size: 20px;
    font-weight: 700;
    color: orangered;
}

.g_myshop9{
    text-align: right;
}
.g_shopping {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
    margin-bottom: 30px;
}
.g_stxt {
    
    color: white;
    background: #FF0077;
    border-radius: 5px;
}